@function list-remove-duplicates($list, $recursive: false) {
  $result: ();
  
  @each $item in $list {

    @if not index($result, $item) {
      
      @if length($item) > 1 and $recursive {
          $result: append($result, remove-duplicates($item, $recursive));
      }
      @else {
          $result: append($result, $item);
      }
    }
  }
  
  @return $result;
}

@function list-implode($list, $delimiter) {
  $string: null;
  
  @each $item in $list {

    @if $string and $item {
        $string: $string + $delimiter + $item ;
    }
    @else {
        $string: $item ;
    }
  }
  
  @return $string;    
}
